/* Error: expected "{".
 *     ,
 * 249 | 次回説明文の箇所を整える
 *     |             ^
 *     '
 *   resources\scss\project\profile.scss 249:13  @use
 *   resources\scss\style.scss 32:1              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 249 \2502  \6b21 \56de \8aac \660e \6587 \306e \7b87 \6240 \3092 \6574 \3048 \308b \a     \2502              ^\a     \2575 \a   resources\\scss\\project\\profile.scss 249:13  @use\a   resources\\scss\\style.scss 32:1              root stylesheet';
}
