// layout/_header.scss

// のちに分割予定
// .l-header {
//   padding: 16px 24px;

//   &__logo {
//     font-weight: bold;
//   }

//   &__nav {
//     display: flex;
//     gap: 16px;
//   }
// }


// .features3_registration_button{
//   margin: 0 auto;
// }


// .fa-shield-halved{
//   font-size: 40px;
//   color: #ffffff;
// }

// .container {
//   width: 1000px;
//   margin: 0 auto;

//   @include respond('lg') {
//     width: 90%;
//   }

//   @include respond('md') {
//     width: 100%;
//     padding: 0 16px;
//   }
// }