  // max-height: 2660px;
  // min-height: 100vh;
  //  /* 背景グラデーション */

.background {
    &_signup {
      height: 820px;
      min-height: 100vh;
      background-color: #EFF6FF;
      // overflow: hidden;
    }
    &_bule_fileter{
      position: absolute;
      top: 8.47px;
      left: 45px;
      width: 440.093px;
      height: 440.093px;
      border-radius: 33554400px;
      background: rgba(81, 162, 255, 0.20);
      filter: blur(64px);
    }
    &_purple_fileter{
      position: relative;
      top: -400px;
      left: 1400px;
      width: 440.093px;
      height: 440.093px;
      border-radius: 33554400px;
      background: rgba(194, 122, 255, 0.20);
      filter: blur(64px);
    }
}

.signup{
  &_main_wrap{
    height: 806px;
    width: 448px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    // position: absolute;
  }
  &_top_back{
    color: #4A5565;
    margin-top: 28px;
    margin-bottom: 32px;
  }
  &_frame{
    background-color: #fff;
    border-radius: 24px;
    width: 448px;
    padding: 33px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25)
  }
  &_element_1{
    height: 48px;
    width: 144px;
    margin: 0 auto;
    margin-bottom: 16px;
    }
  &_element_text1{
    text-align: center;
    font-size: 24px;
    margin-bottom: 8px;
  }
  &_element_text2{
    text-align: center;
    font-size: 16px;
    margin-bottom: 32px;
  }
  &_element_logo{
    color: #fff;
    display: block;
    height: 45px;
    width: 45px;
    text-align: center;
    font-size: 20px;
    padding: 6px;
    border-radius: 14px;
    float: left;
    background: linear-gradient(
    135deg,
    #155DFC 0%,
    #9810FA 100%
  );
  }
  &_element_title{
    font-size: 30px;
    margin-left: 6px;
    float: left;
    // 保留
    // background: linear-gradient(90deg, #155DFC 0%, #9810FA 100%);
  }
  &_input1{
    width: 382px;
    height: 50px;
    padding: 12px 16px 12px 48px;
    border-radius: 14px;
    border: 1px solid #D1D5DC;
    background: rgba(255, 255, 255, 0.50);
  }
  &_input2{
    width: 382px;
    height: 50px;
    padding: 12px 16px 12px 48px;
    border-radius: 14px;
    border: 1px solid #D1D5DC;
    background: rgba(255, 255, 255, 0.50);
  }
  &_input3{
    width: 382px;
    height: 50px;
    padding: 12px 16px 12px 48px;
    border-radius: 14px;
    border: 1px solid #D1D5DC;
    background: rgba(255, 255, 255, 0.50);
  }
  &_input4{
    width: 382px;
    height: 50px;
    padding: 12px 16px 12px 48px;
    border-radius: 14px;
    border: 1px solid #D1D5DC;
    background: rgba(255, 255, 255, 0.50);
  }
  &_create_account{
    height: 48px;
    width: 382px;
    border-radius: 14px;
    margin-top: 34px;
    margin-bottom: 32px;
    text-align: center;
    color: #fff;
    background: linear-gradient(90deg, #155DFC 0%, #9810FA 100%);
  }
  &_login_account{
    width: 310px;
    margin: 0 auto;
  }
}

// アイコン編集
.fa-user{
  position: absolute;
  margin: 17px;
}

.fa-envelope{
  position: absolute;
  margin: 17px;
}

.fa-lock {
    position: absolute;
    margin: 17px;
}

// layout/_header.scss

// のちに分割予定
// .l-header {
//   padding: 16px 24px;

//   &__logo {
//     font-weight: bold;
//   }

//   &__nav {
//     display: flex;
//     gap: 16px;
//   }
// }


// .features3_registration_button{
//   margin: 0 auto;
// }


// .fa-shield-halved{
//   font-size: 40px;
//   color: #ffffff;
// }

// .container {
//   width: 1000px;
//   margin: 0 auto;

//   @include respond('lg') {
//     width: 90%;
//   }

//   @include respond('md') {
//     width: 100%;
//     padding: 0 16px;
//   }
// }