/* ==========================
   Reset CSS（生PHP向け）
   ========================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  appearance: none;
  -webkit-appearance: none;

  background: transparent;
  border: none;
  border-radius: 0;

  padding: 0;
  margin: 0;

  font: inherit;
  color: inherit;
  text-align: inherit;

  box-shadow: none;
  outline: none;

  cursor: pointer;
}
